parameters:
	ignoreErrors:
		-
			message: '#^Call to method arrayNode\(\) on an unknown class Symfony\\Component\\Config\\Definition\\Builder\\NodeBuilder\<Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\>\.$#'
			identifier: class.notFound
			count: 5
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Call to method arrayPrototype\(\) on an unknown class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\<Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\>\.$#'
			identifier: class.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Call to method ifTrue\(\) on an unknown class Symfony\\Component\\Config\\Definition\\Builder\\ExprBuilder\<Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\>\.$#'
			identifier: class.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Call to method scalarNode\(\) on an unknown class Symfony\\Component\\Config\\Definition\\Builder\\NodeBuilder\<Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\>\.$#'
			identifier: class.notFound
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:addClientsSection\(\) has parameter \$rootNode with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition but does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:addIndexTemplatesSection\(\) has parameter \$rootNode with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition but does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:addIndexesSection\(\) has parameter \$rootNode with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition but does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:createTreeBuilderNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getConfigTreeBuilder\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getDynamicTemplateNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getIdNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getPersistenceNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getPropertiesNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getRoutingNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getSerializerNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Method FOS\\ElasticaBundle\\DependencyInjection\\Configuration\:\:getSourceNode\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition does not specify its types\: TParent$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Parameter \#1 \$params of method Elastic\\Elasticsearch\\Endpoints\\Indices\:\:close\(\) expects array\{index\: list, timeout\: Elastic\\Elasticsearch\\Endpoints\\time, master_timeout\: Elastic\\Elasticsearch\\Endpoints\\time, ignore_unavailable\: bool, allow_no_indices\: bool, expand_wildcards\: Elastic\\Elasticsearch\\Endpoints\\enum, wait_for_active_shards\: string, pretty\: bool, \.\.\.\}, array\{index\: string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Index/AliasProcessor.php

		-
			message: '#^Parameter \#1 \$params of method Elastic\\Elasticsearch\\Endpoints\\Indices\:\:delete\(\) expects array\{index\: list, timeout\: Elastic\\Elasticsearch\\Endpoints\\time, master_timeout\: Elastic\\Elasticsearch\\Endpoints\\time, ignore_unavailable\: bool, allow_no_indices\: bool, expand_wildcards\: Elastic\\Elasticsearch\\Endpoints\\enum, pretty\: bool, human\: bool, \.\.\.\}, array\{index\: string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Index/AliasProcessor.php

		-
			message: '#^Parameter \#1 \$params of method Elastic\\Elasticsearch\\Endpoints\\Indices\:\:getAlias\(\) expects array\{name\: list, index\: list, ignore_unavailable\: bool, allow_no_indices\: bool, expand_wildcards\: Elastic\\Elasticsearch\\Endpoints\\enum, local\: bool, pretty\: bool, human\: bool, \.\.\.\}, array\{name\: ''\*''\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Index/AliasProcessor.php

		-
			message: '#^Parameter \#1 \$params of method Elastic\\Elasticsearch\\Endpoints\\Indices\:\:updateAliases\(\) expects array\{timeout\: Elastic\\Elasticsearch\\Endpoints\\time, master_timeout\: Elastic\\Elasticsearch\\Endpoints\\time, pretty\: bool, human\: bool, error_trace\: bool, source\: string, filter_path\: list, body\: array\}, array\{body\: array\{actions\: list\<mixed\>\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Index/AliasProcessor.php

		-
			message: '#^Parameter \#1 \$params of method Elastic\\Elasticsearch\\Endpoints\\Indices\:\:delete\(\) expects array\{index\: list, timeout\: Elastic\\Elasticsearch\\Endpoints\\time, master_timeout\: Elastic\\Elasticsearch\\Endpoints\\time, ignore_unavailable\: bool, allow_no_indices\: bool, expand_wildcards\: Elastic\\Elasticsearch\\Endpoints\\enum, pretty\: bool, human\: bool, \.\.\.\}, array\{index\: non\-falsy\-string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Index/TemplateResetter.php

		-
			message: '#^Parameter \#1 \$params of method Elastic\\Elasticsearch\\Endpoints\\Indices\:\:deleteTemplate\(\) expects array\{name\: string, timeout\: Elastic\\Elasticsearch\\Endpoints\\time, master_timeout\: Elastic\\Elasticsearch\\Endpoints\\time, pretty\: bool, human\: bool, error_trace\: bool, source\: string, filter_path\: list\}, array\{name\: ''\*''\} given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Functional/ResetTemplatesCommandTest.php
